* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #F6F6F6;
    color: white;
    display: flex;
    width: 1440px;
    height: 960px;
}

.coffe_column {
    width: 159px;
    height: 842px;
    background-color:#FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

.coffee-type {
    width: 159px;
    height: 140px;
    padding: 15px 20px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #483431
}

.coffee-type:hover {
    background-color: #AC8F64;
    color: #483431;
}

.menu {
    flex: 1;
    padding: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.search_string {
    position: relative;
    width: 70%;
    height: 80px;
}

.search_string input {
    width: 750px;
    height: 80px;
    padding: 15px 50px 15px 20px;
    background-color: #DADADA;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

.search_string input::placeholder {
    color: #888;
}
.search_string svg {
    position: absolute;
    left: 710px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.item {
    width: 350px;
    height: 515px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.item:hover {
   border:2px color #AC8F64
}

.item img {
    width: 309px;
    height: 309px;
    border-radius: 15px;
    object-fit: cover;
}

.cards_item_text {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 20px 10px;
    color: black;
}

.price {
    width: 140px;
    height: 50px;
    background-color: #DADADA;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cards_item_price {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.price button {
    background-color: rgb(158, 38, 5);
    color: black;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    display: flex;
    justify-content: center;
}


/* СТРАНИЦА 2*/
body2 {
    background-color: #F4F4F4;
    color: white;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 960px;

}
.navigation2 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.setup{
    display: flex;
    flex-direction: row;

}
.coffe_info{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.product_name{
    color: black;
    font-size: 70px;
    font-weight: 400;
}
.description{
    color: black;
    font-size: 20px;
    
}
.option-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-title {
    color: gray;
    font-size: 14px;
}
.size{
    display: flex;
    flex-direction: row;
    gap:20px
}
.size_box{
    width: 115px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 15px 0;
    color: black;
}
.size_box.active {
    border: 2px solid black;
    background-color: #AC8F64;
}

.size_box.active svg path {
    fill: #000000 !important;
    stroke: #000000 !important;
}
.extra{
    display: flex;
    flex-direction: row ;
    gap: 20px;
}
.milk_type{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.button_setup{
    background-color:white;
    color: black;
    border: none;
    height: 40px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    display: flex;
    text-align: center;
}
.button_setup.active {
    border: 2px solid black;
    background-color:#AC8F64;
}
.price_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.price_display{
    color: black;
    font-size: 60px;
}
.quantity_control {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    color: black;
}
.quantity_btn {
    width: 40px;
    height: 40px;
    background-color: white;
    color: #AC8F64;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


